<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #eef2f3;
            padding: 20px;
        }
        h1 {
            color: red;
        }
        p {
            font-size: 18px;
            color: green;
        }
    </style>
</head>
<body>

    <h1>Shssh, Tomorrow is my younger brother Muhammad Sohaib QR Papaer</h1>

    <p>
        Wish you a very best of luck
    </p>

</body>
</html>
